<%inherit file="/base.html"/>

<%block name="content">
<div class="king-layout2-main mt15" style="width:1100px;">
    <div class="form-horizontal">
        <div class="form-group clearfix ">
            <label class="col-sm-2 control-label bk-lh30 pt0">请选择业务：</label>
            <div class="col-sm-10">
                <select name="" id="biz" class="form-control bk-valign-top">

                </select>
            </div>
        </div>
        <div class="form-group clearfix ">
            <label class="col-sm-2 control-label bk-lh30 pt0">请输入主机IP：</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="多个IP用回车分割"></textarea>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="button" class="king-btn mr10  king-success" id="button-search">查询</button>
            </div>
        </div>
    </div>
    <template id="tpl_biz">
        <option value="#biz_id#">#biz_name#</option>
    </template>
</div>
</%block>
<script>
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    $(function () {

        // 查询主机
        $("#button-search").on('click', function (e) {
            $("#tbody-ip").html("<tr>\n" +
                "    <td colspan=\"9\" style=\"text-align: center;padding:20px;\">\n" +
                "  <div class=\"tc bc pt15 pb15 loading-box\">\n" +
                "    <img alt=\"loadding\" src=\"https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_24x24.gif\"> 数据加载中,请稍候...\n" +
                "      </div>\n" +
                "  </td>\n" +
                "</tr>");
            // TODO
            var biz_id = $('#biz').val();
            var ip = $('#ip').html();
            $.post('${SITE_URL}get_info', {'biz_id': biz_id, 'ip': ip}, function (data) {
                console.log(data)
                if (data.result) {
                    var _html = "";
                    var list = data.data;
                    var tpl = $('#tpl_info').html();
                    //var headerTpl = $('#header_tpl_1526111412901').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#tpl_info').html(_html);
                    //var job_instance_id = data.data;
                    // 异步请求后台数据
                    //get_capacity(job_instance_id, biz_id);
                } else {
                    alert("获取失败")
                }
            }, 'json');
        });

        //获取作业执行结果，渲染表格
        function get_capacity(job_instance_id, biz_id, ip) {
            $.ajax({
                url: '${SITE_URL}get_capacity',
                type: 'GET',
                data: {'biz_id': biz_id, 'job_instance_id': job_instance_id},
                dataType: 'json',
                success: function (res) {
                    var _html = ' ';
                    var list = res.data;
                    console.log(list)
                    if (list.length) {
                        var tpl = $('#tbody-ip').html();
                        //var headerTpl = $('#header_tpl_1526111412901').html();
                        for (var i = 0, len = list.length; i < len; i++) {
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        //$('.ranger-box thead').html(renderTpl(headerTpl, res.catalogues));
                    } else {
                        _html = $('#ranger_nodata_tpl').html();
                        $('.ranger-box thead').html('');
                        //作业未执行完，则继续轮询获取执行结果
                        setTimeout(function () {
                            get_capacity(job_instance_id, biz_id, ip)
                        }, 1 * 1000)
                    }
                    $('.ranger-box tbody').html(_html);
                }
            });
        }

        // 主机表格事件绑定
        $("#tbody-ip").on('click', '.check, .check-add, .check-del', function (e) {

            // 立即检查
            if ($(this).hasClass("check")) {
                if (confirm('是否查询系统资源使用情况？')) {
                    // TODO
                }
            } else if ($(this).hasClass("check-add")) {
                if (confirm('是否加入周期检查列表？')) {
                    // TODO
                }
            } else if ($(this).hasClass("check-del")) {
                if (confirm('是否从周期检查列表中移除？')) {
                    // TODO
                }
            }
        })
    });
    $(function () {
        /*获取业务ip选择*/
        $.ajax({
            url: '${SITE_URL}get_biz',
            type: 'POST',
            dataType: 'json',
            success: function (res) {
                if (res.result) {
                    var _html = ' ';
                    var list = res.data;
                    var tpl = $('#tpl_biz').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#biz').html(_html);
                    var biz = $('#biz').val();
                } else {
                    alert("获取失败")
                }
            }
        });
    });
</script>