<%inherit file="/base.html"/>
<div class="king-layout1-header">
    <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
        <div class="container " style="width:100%;overflow:hidden;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse"
                        data-target="#king-horizontal-nav2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">
                    <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo3.png" alt=""
                         class="logo"> </a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="${SITE_URL}">首页</a></li>
                    <li class="king-navbar-active"><a href="${SITE_URL}home_info">主机状态</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="###" class="avatar">
                        <img src="${STATIC_URL}img/getheadimg.jpg" width="40" alt="Avatar" class="avatar-img">
                        % if request.user.is_superuser:
                        <i class="crown"></i>
                        % endif
                        <span>${request.user.username}</span>
                    </a>
                    <a id="logout" href="${LOGOUT_URL}">注销</a>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="king-layout2-main mt15" style="width:1100px;">
    <!--form class="form-horizontal"-->
    <div class="form-group clearfix ">
        <label class="col-sm-2 control-label bk-lh30 pt0">请选择业务：</label>
        <div class="col-sm-10">
            <select name="" id="biz" class="form-control bk-valign-top">

            </select>
        </div>
    </div>
    <div class="form-group clearfix ">
        <label class="col-sm-2 control-label bk-lh30 pt0">请输入主机IP：</label>
        <div class="col-sm-10">
            <textarea id="serverids" class="form-control" rows="3" placeholder="多个IP用回车分割"></textarea>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="king-btn mr10  king-success" id="button-search">查询</button>
        </div>
    </div>
    <!--/form-->
    <template id="tpl_biz">
        <option value="#biz_id#">#biz_name#</option>
    </template>
    <div class="panel panel-default mb0">
        <div class="panel-heading">主机信息最近一个小时内环比图</div>
        <div class="panel-body">
            <div class="king-page-box" id="tpl_infos">

            </div>
        </div>
    </div>
    <template id="tpl_info">
        <div class="king-container clearfix" style="width: 49%;display: inline-block">
            <span style="top: 30px;">#id#</span>
            <div style="height: 300px; position: relative" id="#id#"
                 class="king-chart-box chart-line  k-chart" data-role="chart"></div>
        </div>
    </template>
</div>

<script>
    // 替换通用函数
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;
        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    // 自动刷新获取业务
    function get_biz() {
        $.post("${SITE_URL}get_biz", function (res) {
            if (res.result) {
                var _html = "";
                var list = res.data;
                var tpl = $("#tpl_biz").html();
                for (var i = 0; list.length > i; i++) {
                    _html += renderTpl(tpl, list[i]);
                }
                $("#biz").html(_html);
            } else {
                alert("获取蓝鲸业务失败");
            }
        }, "json")
    }

    function get_biz_server_info(biz_id) {
        $.post("${SITE_URL}get_photo_data", {'biz_id': biz_id}, function (res) {
            //获取数据成功
            if (res.result) {
                var _html = "";
                var tpl = $("#tpl_info").html();
                for (var i = 0; res.data.length > i; i++) {
                    _html += renderTpl(tpl, res.data[i]);
                }
                $("#tpl_infos").html(_html);
                for (var a = 0; res.data.length > a; a++) {
                    console.log(res.data[a])
                    var data = {
                        series: res.data[a].series,
                        categories: res.data[a].categories
                    };
                    createKendoLineChart({
                        selector: "#" + res.data[a].id, // 图表容器
                        data: data // 图表数据
                    });
                }
            } else {
                alert("获取图标数据失败")
            }
        }, "json")
    }

    function get_servers_info(ips) {
        $.post("${SITE_URL}get_photo_data", {'ips': ips}, function (res) {
            //获取数据成功
            if (res.result) {
                var _html = "";
                var tpl = $("#tpl_info").html();
                for (var i = 0; res.data.length > i; i++) {
                    _html += renderTpl(tpl, res.data[i]);
                }
                $("#tpl_infos").html(_html);
                for (var a = 0; res.data.length > a; a++) {
                    console.log(res.data[a])
                    var data = {
                        series: res.data[a].series,
                        categories: res.data[a].categories
                    };
                    createKendoLineChart({
                        selector: "#" + res.data[a].id, // 图表容器
                        data: data // 图表数据
                    });
                }
            } else {
                alert("获取图标数据失败")
            }
        }, "json")
    }

    // 创建图表
    function createKendoLineChart(conf) {
        $(conf.selector).kendoChart({
            transitions: false,
            legend: {
                position: "bottom"
            },
            colors: ['yellow'],
            theme: 'bootstrap',
            seriesDefaults: {
                type: 'line',
                style: "smooth",
                markers: {
                    visible: false
                }
            },
            series: conf.data.series,
            categoryAxis: {
                majorGridLines: {
                    visible: false
                },
                categories: conf.data.categories,
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                template: "#= category # #= value #"
            }
        });
        //重新绘制
        $(window).on('resize', function () {
            var chart = $(conf.selector).data("kendoChart");
            chart.redraw();
        });
    }

    function initKendoLineChart(conf) {
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'POST',
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    var _html = "";
                    var tpl = $("#tpl_info").html();
                    for (var i = 0; res.data.length > i; i++) {
                        _html += renderTpl(tpl, res.data[i]);
                    }
                    $("#tpl_infos").html(_html);
                    for (var a = 0; res.data.length > a; a++) {
                        console.log(res.data[a])
                        var data = {
                            series: res.data[a].series,
                            categories: res.data[a].categories
                        };
                        createKendoLineChart({
                            selector: "#" + res.data[a].id, // 图表容器
                            data: data // 图表数据
                        });
                    }
                } else {
                    alert("获取图标数据失败")
                }
            }
        });
    }


    $(function () {
        get_biz();
        initKendoLineChart({
            url: '${SITE_URL}get_photo_data',
            dataType: 'json',
        });
        $("#button-search").on('click', function (e) {
            $("#tbody-ip").html("<tr>\n" +
                "    <td colspan=\"9\" style=\"text-align: center;padding:20px;\">\n" +
                "  <div class=\"tc bc pt15 pb15 loading-box\">\n" +
                "    <img alt=\"loadding\" src=\"https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_24x24.gif\"> 数据加载中,请稍候...\n" +
                "      </div>\n" +
                "  </td>\n" +
                "</tr>");
            // TODO

            var servers_ip = $("#serverids").val();
            var biz_id = $("#biz").val();
            //get_biz_server_info(biz_id);
            //console.log(servers_ip + "111" + biz_id)
            if (servers_ip) {
                get_servers_info(servers_ip);
            } else {
                get_biz_server_info(biz_id);
            }
        });
    });
</script>
<style>
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
</style>