<%inherit file="/base.html"/>
<div class="king-layout1-header">
    <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
        <div class="container " style="width:100%;overflow:hidden;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse"
                        data-target="#king-horizontal-nav2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">
                    <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo3.png" alt=""
                         class="logo"> </a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                <ul class="nav navbar-nav">
                    <li class="king-navbar-active"><a href="${SITE_URL}">主机信息</a></li>
                    <li><a href="${SITE_URL}home_info">主机状态</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="###" class="avatar">
                        <img src="${STATIC_URL}img/getheadimg.jpg" width="40" alt="Avatar" class="avatar-img">
                        % if request.user.is_superuser:
                        <i class="crown"></i>
                        % endif
                        <span>${request.user.username}</span>
                    </a>
                    <a id="logout" href="${LOGOUT_URL}">注销</a>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="king-layout2-main mt15" style="width:1100px;">
    <!--form class="form-horizontal"-->
    <div class="form-group clearfix ">
        <label class="col-sm-2 control-label bk-lh30 pt0">请选择业务：</label>
        <div class="col-sm-10">
            <select name="" id="biz" class="form-control bk-valign-top">

            </select>
        </div>
    </div>
    <div class="form-group clearfix ">
        <label class="col-sm-2 control-label bk-lh30 pt0">请输入主机IP：</label>
        <div class="col-sm-10">
            <textarea id="serverids" class="form-control" rows="3" placeholder="多个IP用回车分割"></textarea>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="king-btn mr10  king-success" id="button-search">查询</button>
        </div>
    </div>
    <!--/form-->
    <template id="tpl_biz">
        <option value="#biz_id#">#biz_name#</option>
    </template>
    <div class="panel panel-default mb0">
        <div class="panel-heading">主机列表</div>
        <div class="panel-body">
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <th>内网IP</th>
                    <th>系统名</th>
                    <th>主机名</th>
                    <th>云区域</th>
                    <th>Mem(%)</th>
                    <th>Disk(%)</th>
                    <th>CPU(%)</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody-ip">
                <tr>
                    <td colspan="6" style="text-align:center"> 没有数据</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <template id="tpl_info">
        <tr data-hostip="#ip#" data-bizid="#biz_id#" data-bkcloudid="#bk_cloud_id#">
            <td>#ip#</td>
            <td>#os_type#</td>
            <td>#hostname#</td>
            <td>#area#</td>

            <td id="Mem">--</td>
            <td id="Disk">--</td>
            <td id="CPU">--</td>

            <td>
                <div class="hidden td-loading">
                    <img alt="loadding"
                         src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_16x16.gif">&nbsp;查询中...
                </div>
                <div class="td-operate">
                    <a data-ip="#ip#" data-cloud="0" class="btn btn-xs btn-success check" title="查询">
                        <i class="fa fa-search"></i>
                    </a>
                    <a data-ip="#ip#" data-cloud="0" class="btn btn-xs btn-danger check-del" title="移除">
                        <i class="fa fa-eye-slash"></i>
                    </a>
                    <a data-ip="#ip#" data-cloud="0"
                       class="btn btn-xs btn-warning check-add" title="添加">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
    </template>
</div>

<script>
    $(function () {
        get_biz();
        // 点击查询主机
        $("#button-search").on('click', function (e) {
            $("#tbody-ip").html("<tr>\n" +
                "    <td colspan=\"9\" style=\"text-align: center;padding:20px;\">\n" +
                "  <div class=\"tc bc pt15 pb15 loading-box\">\n" +
                "    <img alt=\"loadding\" src=\"https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_24x24.gif\"> 数据加载中,请稍候...\n" +
                "      </div>\n" +
                "  </td>\n" +
                "</tr>");
            // TODO

            var servers_ip = $("#serverids").val();
            var biz_id = $("#biz").val();
            //get_biz_server_info(biz_id);
            //console.log(servers_ip + "111" + biz_id)
            if (servers_ip) {
                get_servers_info(servers_ip);
            } else {
                get_biz_server_info(biz_id);
            }
        });
        // 主机表格事件绑定
        $("#tbody-ip").on('click', '.check, .check-add, .check-del', function (e) {

            // 立即检查
            if ($(this).hasClass("check")) {
                var that = this;
                if (confirm('是否查询系统资源使用情况？')) {
                    // TODO
                    $.post("${SITE_URL}get_status_info", {
                        'ip': $(this).closest("tr").attr("data-hostip"),
                        'biz_id': $(this).closest("tr").attr("data-bizid"),
                        'bkcloudid': $(this).closest("tr").attr("data-bkcloudid"),
                    }, function (res) {
                        if (res.result) {
                            alert("获取成功");
                            $(e.target).closest("td").siblings().eq(4).html(res.data.Mem);
                            $(that).closest("td").siblings().eq(5).text(res.data.Disk);
                            $(that).closest("td").siblings().eq(6).text(res.data.CPU);
                        } else {
                            alert("获取失败");
                        }
                    }, 'json')
                }
            } else if ($(this).hasClass("check-add")) {
                if (confirm('是否加入周期检查列表？')) {
                    // TODO
                    var that = this
                    $.post("${SITE_URL}add_check_list", {
                        'ip': $(this).closest("tr").attr("data-hostip"),
                        'biz_id': $(this).closest("tr").attr("data-bizid"),
                        'bkcloudid': $(this).closest("tr").attr("data-bkcloudid"),
                    }, function (res) {
                        if (res.result) {
                            alert("加入周期成功");
                            $(e.target).closest("a").hide();
                            $(e.target).closest("a").prev().show()
                        } else {
                            alert("加入周期失败");
                        }
                    }, "json")
                }
            } else if ($(this).hasClass("check-del")) {
                if (confirm('是否从周期检查列表中移除？')) {
                    // TODO
                    var that = this
                    $.post("${SITE_URL}delete_check_list", {
                        'ip': $(this).closest("tr").attr("data-hostip")
                    }, function (res) {
                        if (res.result) {
                            alert("删除成功");
                            $(e.target).closest("a").hide();
                            $(e.target).closest("a").next().show()
                        } else {
                            alert("删除失败");
                        }
                    }, "json")
                }
            }
        })
    });

    // 替换通用函数
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;
        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    // 自动刷新获取业务
    function get_biz() {
        $.post("${SITE_URL}get_biz", function (res) {
            if (res.result) {
                var _html = "";
                var list = res.data;
                var tpl = $("#tpl_biz").html();
                for (var i = 0; list.length > i; i++) {
                    _html += renderTpl(tpl, list[i]);
                }
                $("#biz").html(_html);
            } else {
                alert("获取蓝鲸业务失败");
            }
        }, "json")
    }

    function get_biz_server_info(biz_id) {
        $.post("${SITE_URL}get_biz_server_info", {'biz_id': biz_id}, function (res) {
            if (res.result) {
                var _html = "";
                var list = res.data;
                console.log(res)
                var tpl = $("#tpl_info").html();
                ;
                for (var i = 0; list.length > i; i++) {
                    _html += renderTpl(tpl, list[i]);
                }
                $("#tbody-ip").html(_html);
                for (var i = 0; list.length > i; i++) {
                    if (list[i].is_celery) {
                        $("tr").eq(i + 1).find(".check-add").hide();
                    } else {
                        $("tr").eq(i + 1).find(".check-del").hide();
                    }
                }
            } else {
                alert("获取主机信息失败")
            }
        }, "json")
    }

    function get_servers_info(ips) {
        $.post("${SITE_URL}get_servers_info", {'ips': ips}, function (res) {
            if (res.result) {
                var _html = "";
                var list = res.data;
                var tpl = $("#tpl_info").html();
                for (var i = 0; list.length > i; i++) {
                    _html += renderTpl(tpl, list[i])
                }
                $("#tbody-ip").html(_html);
                for (var i = 0; list.length > i; i++) {
                    if (list[i].is_celery) {
                        $("tr").eq(i + 1).find(".check-add").hide();
                    } else {
                        $("tr").eq(i + 1).find(".check-del").hide();
                    }
                }
            } else {
                alert("获取主机信息失败")
            }
        }, "json")
    }
</script>
<style>
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
</style>
